<head>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/materialize-css/dist/css/materialize.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="badges.html"><i class="material-icons left">person</i>Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row center-align">
            <h1>Budgets</h1>
            <div class="divider"></div>
			<div class="row center-align">
				<div class="input-field col s4 offset-s4 left-align">
					<i class="material-icons prefix">mode_edit</i>
					<input id="icon_prefix" type="number">
					<label for="icon_prefix">Enter Budget</label>
				</div>
			</div>
            <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Submit budget</a>
        </div>
    </div>
</body>
