<head>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../index.css">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/materialize-css/dist/js/materialize.js"></script>
    <script src="../js/home2.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="../index.html" class="brand-logo"><img src="../assets/images/hot.png" alt="" class="logo"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../index.html"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href=""><i class="material-icons left">person</i>Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row center-align">
            <h3>Current Budget</h3>
            <div class="divider"></div>
            <br></br>
            <ul id="budget-list" class="left-align collection">
                <li class="collection-item hoverable">
                    <div class="row">
                        <div class="col s6">
                            <h4 class="title"><i class="large material-icons icon-green left">trending_up</i>January</h4>
                            <p>1/1/2017 - 1/31/2017</p>
                        </div>
                        <div class="col s3 offset-s3">
                            <h6> 
                                <br>
                                Budget limit: &plus;&nbsp;$<span id="limit">1000</span>
                                <br>
                                Money spent: &minus;&nbsp;$<span id="spent">0</span>
                                <hr>
                                Savings: &plus;&nbsp;$<span id="savings">1000</span>
                            </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="green lighten-3 progress">
                            <div class="green determinate" style="width: 100%;"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select>
                    <option value="" disabled selected>Category</option>
                    <option value="rent">Rent</option>
                    <option value="food">Food</option>
                    <option value="recreation">Recreation</option>
                </select>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">attach_money</i>
                <input id="new-expenditure" type="number" placeholder="New Expenditure"/>
                <!--<label for="daily-expenditure">Daily Expenditure</label>-->
            </div>
        </div>
        <div class="row center-align">
            <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Create a budget</a>
        </div>
</body>
