<head>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../index.css">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/materialize-css/dist/js/materialize.js"></script>
    <script src="../js/home.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="badges.html"><i class="material-icons left">person</i>Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row center-align">
            <h3>Budgets</h3>
            <div class="divider"></div>
            <br></br>
            <ul id="budget-list" class="left-align collection">
                <li class="collection-item hoverable">
                    <div class="row">
                        <div class="col s6">
                            <h4 class="title"><i class="large material-icons icon-green left">trending_up</i>January</h4>
                            <p>1/1/2017 - 1/31/2017</p>
                        </div>
                        <div class="col s2 offset-s4">
                                <h6> 
                                    <br>
                                    &plus;&nbsp;$1000
                                    <br>
                                    &minus;&nbsp;$800
                                    <hr>
                                    &plus;&nbsp;$200
                                </h6>
                        </div>
                    </div>
                </li>
            </ul>
            <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Create a budget</a>
        </div>
</body>
